<div class="row">
            <div class="col-md-4 col-md-offset-3">

            	{% if error %}
            		<div class="alert alert-danger">{{ error.message }}</div>
            	{% endif %}

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Connectez-vous Svp</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('login_check') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Votre pseudo" name="_username" type="text" value="{{last_username}}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="_password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form >
                                <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a-->
                                <input type="submit" value="Connexion" class="btn btn-lg btn-success btn-block"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>