<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheet %}
        <title> {% block title %} Cicrtg {% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/cicrtg/frontend/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/cicrtg/frontend/css/modern-business.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/cicrtg/frontend/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('bundles/cicrtg/media/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="container">


        <!-- Navigation -->
        
    {% block navigation %}
        
    {% endblock %}

        <!-- Header Carousel -->
    {% block carousel %}


    {% endblock %}

    
    <!-- Page Content -->
    {% block bodyPrincipal %}
        
    {% endblock %}
       
    
    <!-- /.container -->
    
    {% block footer %} 
        
    {% endblock %}

    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ asset('bundles/cicrtg/frontend/js/jquery.js') }}"></script>
        

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/cicrtg/frontend/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/cicrtg/media/js/jquery.dataTables.min.js') }}"></script>

        <!-- Script to Activate the Carousel -->
        <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })

        $(document).ready(function() {
            $('#example').dataTable(
                {
                    language: 
                        {        
                            processing:     "Traitement en cours...",        
                            search:         "Rechercher&nbsp;:",        
                            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",        
                            info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",        
                            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",        
                            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",        
                            infoPostFix:    "",        
                            loadingRecords: "Chargement en cours...",        
                            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",        
                            emptyTable:     "Aucune donnée disponible dans le tableau",        
                            paginate: 
                            {            
                                first:      "Premier",            
                                previous:   "Pr&eacute;c&eacute;dent",            
                                next:       "Suivant",            
                                last:       "Dernier"        
                            },        
                            aria: 
                            {            
                                sortAscending:  ": activer pour trier la colonne par ordre croissant",            
                                sortDescending: ": activer pour trier la colonne par ordre décroissant"        
                            }    
                        }
                });
        } );
        </script>
    {% endblock %}
</body>

</html>
