<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{% block title %}CICRTG |  {% endblock %}</title>
		<meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="Combietevi Yce-El Reejoyce ">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        
        {% block stylesheets %}
            {% stylesheets 'bundles/cicrtg/worthy/bootstrap/css/bootstrap.css'
                            'bundles/cicrtg/worthy/fonts/font-awesome/css/font-awesome.css'
                            'bundles/cicrtg/worthy/css/animations.css'
                            'bundles/cicrtg/worthy/css/style.css'
                            'bundles/cicrtg/worthy/css/custom.css' filter="cssrewrite" %}
                <!-- Bootstrap core CSS -->
                <link href="{{ asset_url }}" rel="stylesheet">
               
            {% endstylesheets %}        
        {% endblock %}
	</head>

	<body class="no-trans">
		
		{% block bodygeneral %}
		
		{% endblock %}
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
        {% block javascripts %}
            {% javascripts 'bundles/cicrtg/worthy/plugins/jquery.min.js'
                            'bundles/cicrtg/worthy/bootstrap/js/bootstrap.min.js'
                            'bundles/cicrtg/worthy/plugins/modernizr.js'
                            'bundles/cicrtg/worthy/plugins/isotope/isotope.pkgd.min.js'
                            'bundles/cicrtg/worthy/plugins/jquery.backstretch.min.js'
                            'bundles/cicrtg/worthy/plugins/jquery.appear.js'
                            'bundles/cicrtg/worthy/js/template.js'
                            'bundles/cicrtg/worthy/js/custom.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

	</body>
</html>
