﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Cicrtg | {% endblock %}</title>

    {% block stylesheet %}
        {% stylesheets 'bundles/cicrtg/backend/css/bootstrap.min.css'
                        'bundles/cicrtg/backend/css/sb-admin.css'
                        'bundles/cicrtg/backend/css/plugins/morris.css'
                        'bundles/cicrtg/backend/font-awesome/css/font-awesome.min.css'
                        'bundles/cicrtg/media/css/jquery.dataTables.min.css'
                        'bundles/cicrtg/extensions/TableTools/css/dataTables.tableTools.min.css'
                        
                        'bundles/cicrtg/extensions/Select/css/select.bootstrap.min.css'
                        'bundles/cicrtg/extensions/Select/css/select.dataTables.min.css'
                        'bundles/cicrtg/extensions/Select/css/select.foundation.min.css'
                        'bundles/cicrtg/extensions/Select/css/select.jqueryui.min.css' filter="cssrewrite" %}
                        
                        
                   
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset_url }}" rel="stylesheet">
        
        <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css" rel="stylesheet">
        
    
    

        {% endstylesheets %}

    {% endblock %}
        
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
        <div id="wrapper">

                <!-- Navigation -->
               
            {% block body_general%} 
                 {{ render(controller("cicrtgBackendBundle:Backend:nav")) }}
                
                <!-- /#page-wrapper -->
            {% endblock %}
        </div>

    
    
    <!-- /#wrapper -->

    <!-- jQuery -->
    {% block javascripts %}
        
        {% javascripts 'bundles/cicrtg/backend/js/jquery.js'
                        'bundles/cicrtg/backend/js/bootstrap.min.js'
                        'bundles/cicrtg/backend/js/plugins/morris/raphael.min.js'
                        'bundles/cicrtg/backend/js/plugins/morris/morris.min.js'
                        
                                                
                        
                        'bundles/cicrtg/media/js/jquerydataTables.min.js'
                        'bundles/cicrtg/extensions/Select/js/dataTables.select.min.js'
                        'bundles/cicrtg/worthy/js/custom.js' %}
        <script src="{{ asset_url }}"></script>
        
        
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
        <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
        <script src="//cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>
        
    
    
    
    
    
    
    
    
    

    
        {% endjavascripts %}
    {% endblock %}
    <script>
    $(document).ready(function()
    {
        {% block addFunctionDocument %}
            $('.zone').dataTable();
            $('#datatable').dataTable(
                                      {
                                        //dom: 'T<"clear">lfrtip',
                                        //"tableTools": {
                                        //                    "sSwfPath": "/swf/copy_csv_xls_pdf.swf"
                                        //                },
                                        dom: 'Bfrtip',
                                        buttons:
                                        [{
                                             extend: 'collection',
                                            text: 'Exporter !',
                                            buttons:
                                            [
                                               'copy',
                                                'csv',
                                                'excel',
                                                {
                                                    extend: 'pdfHtml5',
                                                    download: 'open'
                                                },
                                                'print' 
                                            ]
                                            
                                        }],
                                         language: 
                                            {        
                                                processing:     "Traitement en cours...",        
                                                search:         "Rechercher&nbsp;:",        
                                                lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",        
                                                info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",        
                                                infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",        
                                                infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",        
                                                infoPostFix:    "",        
                                                loadingRecords: "Chargement en cours...",        
                                                zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",        
                                                emptyTable:     "Aucune donnée disponible dans le tableau",        
                                                paginate: 
                                                {            
                                                    first:      "Premier",            
                                                    previous:   "Pr&eacute;c&eacute;dent",            
                                                    next:       "Suivant",            
                                                    last:       "Dernier"        
                                                },        
                                                aria: 
                                                {            
                                                    sortAscending:  ": activer pour trier la colonne par ordre croissant",            
                                                    sortDescending: ": activer pour trier la colonne par ordre décroissant"        
                                                }    
                                            }
                                        }
                                    );
        {% endblock %}
    } );
    </script>
</body>

</html>
