{% extends "::layout.html.twig" %}


{% block body_general%}
                    {{ parent() }}
<div id="page-wrapper" style="margin-top: -20px;">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <ol class="breadcrumb">
                                    <li class="active">
                                        <i class="fa fa-dashboard"></i> {% block fileDarian %} Dashboard / {% endblock %}
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <!-- /.row -->

                        <!--<div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                                </div>
                            </div>
                        </div>-->
                        <!-- /.row -->

                        {% block body_bundle %}
                            
                        {% endblock %}

                    </div>
                    <!-- /.container-fluid -->

                </div>
{% endblock %}