{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} Login {% endblock %}
{% block body_general %}
           {% include "cicrtgUserBundle:includes:loginBody.html.twig" %}
{% endblock %}
