/* here you can put your own css to customize and override the theme */
.header {
  bottom: 100px;
}

.steps-block .fa-truck, .steps-block .fa-gift, .steps-block .fa-phone {
padding-top: 15px !important;
}
.likeslide{
	z-index: 6; 
	min-height: 0px; 
	min-width: 0px; 
	line-height: 83px; 
	border-width: 0px; 
	margin: 0px; 
	padding: 0px; 
	letter-spacing: 2px; 
	font-size: 40px; 
	left: 180px; 
	top: 70px; 
	visibility: visible; 
	opacity: 1; 
	transform: translate3d(0px, 0px, 0px);
	color: #E84D1C;
	position: absolute;
}