{% extends "cicrtgFrontendBundle::layoutOnePage.html.twig" %}

{% block bodygeneral %}
	{{  parent() }}
{% endblock %}

{% block contact %}

	{% for message in app.session.flashbag.get('notice') %}
			<div class="footer-content alert alert-block alert-success">
				<a href="" class="close fade" data-dismiss="alert">&times</a>
					{{ message }}
			</div>	
	{% endfor %}
    

<div class="col-sm-12">
		<div class="panel panel-info">
			<div class="panel-heading">Veuillez nous envoyer un message</div>
			<div class="panel-body"> 
				
		<form role="form" id="footer-form" method="post" {{form_enctype(form) }}>
            <div class="form-group has-feedback">
                <label class="sr-only" for="name2">Votre email</label>
                <!--<input type="text" class="form-control" id="name2" placeholder="Name" name="name2" required>-->
				<span class="has-error  help-error">{{ form_errors(form.email) }}</span>
                {{ form_widget(form.email, { 'attr': {'class':'form-control', 'placeholder':'Votre email'} }) }}	

                <i class="fa fa-user form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <label class="sr-only" for="email2">Sujet </label>
                <!--<input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2" required>-->
				<span class="has-error  help-error">{{ form_errors(form.sujet) }}</span>
				{{ form_widget(form.sujet, { 'attr': {'class':'form-control', 'placeholder':'Votre sujet'} }) }}	

                <i class="fa fa-envelope form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
                <label class="sr-only" for="message2">Message</label>
                <!--<textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message2" required></textarea>-->
                <span class="help-inline">{{form_errors(form.message) }}</span>
				{{ form_widget(form.message, { 'attr': {'class':'form-control', 'placeholder':'Votre message', 'rows':'8'} }) }}	

                <i class="fa fa-pencil form-control-feedback"></i>
            </div>
            <input type="submit" class="btn btn-primary"/>
			{{ form_rest(form) }}
        </form>

			</div>
		</div>
	</div>

{% endblock %}
