{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Agents {% endblock %}
{% block fileDarian %} {{ parent() }} Agents {% endblock %}
{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:agentsBody.html.twig" %}
{% endblock %}
