{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Agent {% endblock %}
{% block fileDarian %} {{ parent() }} Agent / Modification {% endblock %}
{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:agentModifBody.html.twig" %}
{% endblock %}
