{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Données {% endblock %}
{% block fileDarian %} {{ parent() }} Donées{% endblock %}

{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:donneesBody.html.twig" %}
{% endblock %}


{% block addFunctionDocument %}
    {{ parent() }}
    // Area Chart
    <!--Morris.Area({-->
    <!--    element: 'morris-area-chart',-->
    <!--    data: [-->
    <!--    {%  set nombre = 0 %}-->
    <!--        {% for donnee in donnees %}-->
    <!--            {-->
    <!--                {%  set nombre = nombre + 1 %}-->
    <!--                period: {{ donnee.agent.localites[0].libL }} ,-->
    <!--                iphone: 2666-->
    <!--            },-->
    <!--        {% endfor %}-->
    <!--    ],-->
    <!--    xkey: 'period',-->
    <!--    ykeys: ['iphone'],-->
    <!--    labels: ['iPhone', 'iPad', 'iPod Touch'],-->
    <!--    pointSize: 2,-->
    <!--    hideHover: 'auto',-->
    <!--    resize: true-->
    <!--});-->

    // Donut Chart
    <!--Morris.Donut({-->
    <!--    element: 'morris-donut-chart',-->
    <!--    data: [{-->
    <!--        label: "Download Sales",-->
    <!--        value: 12-->
    <!--    }, {-->
    <!--        label: "In-Store Sales",-->
    <!--        value: 30-->
    <!--    }, {-->
    <!--        label: "Mail-Order Sales",-->
    <!--        value: 20-->
    <!--    }],-->
    <!--    resize: true-->
    <!--});-->
    
    
     // Bar Chart
     {% set donnee = '' %}
    Morris.Bar({
        element: 'morris-bar-chart',
        data: [
            {% for donnee in donneesCount %}
                    {
                        Region: '{{ donnee['libR'] }}',
                        Moyenne: {{ donnee['Moyenne'] }}
                    },
                    
            {% endfor %}
        ],
        xkey: 'Region',
        ykeys: ['Moyenne'],
        labels: ['Moyenne'],
        barRatio: 0.8,
        xLabelAngle: 35,
        hideHover: 'auto',
        resize: true
    });
{% endblock %}
