{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Acceuil {% endblock %}
{% block fileDarian %} {{ parent() }} {% endblock %}

{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:indexBody.html.twig" %}
{% endblock %}

