{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} zones {% endblock %}
{% block fileDarian %} {{ parent() }} zones / Localité / Modification {% endblock %}
{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:localiteModifBody.html.twig" %}
{% endblock %}
