{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Post {% endblock %}
{% block fileDarian %} {{ parent() }} Phenome / Suppression {% endblock %}
{% block body_bundle %}

<div class="row">
<div class="col-xs-offset-3 col-sm-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title"> Suppression
            </h2>
        </div>
        <div class="panel-body">
            Souhaitez-vous vraiment supprimer ce post phonomène <span class="label label-warning">{{ pheno.lib }} ??</span>
        </div>
        
        <div class="panel-footer">
            <form action="{{ path('cicrtg_backend_pheno_delete', {'id': pheno.id}) }}" method="POST">
                <span class="col-xs-offset-3">
                    {{ form_errors(form) }}
                    <input type="submit" class="btn btn-danger " value="Supprimer" />
                    &nbsp; <a href="{{ path('cicrtg_backend_type') }}" class="btn btn-default"><i class="fa fa-long-arrow-left"></i>Retour</a>
							 
                </span>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}