{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} zones {% endblock %}
{% block fileDarian %} {{ parent() }} zones / Prefecture / Suppression {% endblock %}
{% block body_bundle %}

<div class="row">
<div class="col-xs-offset-3 col-sm-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title"> Suppression
            </h2>
        </div>
        <div class="panel-body">
            Souhaitez-vous vraiment supprimer la préfecture de <span class="label label-warning">{{ prefecture.libP }} ??</span>
        </div>
        
        <div class="panel-footer">
            <form action="{{ path('cicrtg_backend_prefecture_supp', {'id': prefecture.id}) }}" method="POST">
                <span class="col-xs-offset-3">
                    
                    <input type="submit" class="btn btn-danger " value="Supprimer" />
                    &nbsp; <a href="{{ path('cicrtg_backend_zone') }}" class="btn btn-default"><i class="fa fa-long-arrow-left"></i>Retour</a>
							 
                </span>
                {{ form_rest(formSupp) }}
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}