{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Types {% endblock %}
{% block fileDarian %} {{ parent() }} Types données {% endblock %}
{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:typeDonneesBody.html.twig" %}
{% endblock %}
