{% extends "cicrtgBackendBundle::layout.html.twig" %}

{% block title %} {{ parent() }} zones {% endblock %}
{% block fileDarian %} {{ parent() }} zones {% endblock %}
{% block body_bundle %}
           {% include "cicrtgBackendBundle:includes:zoneBody.html.twig" %}
{% endblock %}
