{% extends "::layoutfront.html.twig" %}



{% block navigation %}
        {{ render(controller('cicrtgFrontendBundle:Frontend:navigation')) }}
{% endblock %}

{% block bodyPrincipal %}
	
	{% block contenu %}
			    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                
                <ol class="breadcrumb">
                    <li><a href="index.html">CICRT</a>
                    </li>
                    <li class="active">Acceuil</li>
                </ol>
            </div>
        </div>
        


		<div class="row">
		            <!-- Sidebar Column -->
		            <div class="col-md-3">
		                <div class="list-group">
		                    <a href="{{ path('video_admin_acceuil') }}" class="list-group-item">Home</a>
		                    <a href="{{ path('video_admin_film') }}" class="list-group-item">Films</a>
		                    <a href="{{ path('video_admin_genre') }}" class="list-group-item">Genres</a>
		                    
		                    
		                    
		                </div>
		            </div>
		            <!-- Content Column -->
		            <div class="container col-md-9">
		                <h2>{% block sectionEntete %}  {% endblock %}</h2>

		                
	                	
	                			<p>
	                				{% block contenuAdmin %}
	                					
	                				{% endblock %}
	                			</p>
	                		
		                
		            </div>
		</div>

	{% endblock %}

{% endblock %}
