﻿{% for message in app.session.flashbag.get('notice') %}
				
    <div class="alert alert-success">
        <a class="close fade in" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
{% endfor %}

<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<div class="panel panel-info">
		
			<div class="panel-heading" style="color: #000000;">
				<h4 class="panel-title">Modification de L'agent sélèctionné</h4>
			</div>
			<div class="panel-body" style="color: #000000;">

				  <form  method="post" action="{{ path('cicrtg_backend_agent_modif', {'id': agent.id }) }}">
					  <form  method="post" action="{{ path('cicrtg_backend_agent') }}">
                        <span class="help-block">
                            {{ form_errors(form) }}
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.nom, 'Nom') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.nom) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.nom,  {'attr': {'class':'form-control', 'Placeholder': 'Le nom de l agent'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.prenom, 'Prenom') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.prenom) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.prenom,  {'attr': {'class':'form-control', 'Placeholder': 'Le prénom'}} ) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">       
                                     <label for="groupName" > {{ form_label(form.sexe, 'Sexe') }} :</label>
                                 </div>
															 
                                   <small class="text-danger"> {{ form_errors(form.sexe) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.sexe,  {'attr': {'class':'form-control', 'Placeholder': 'Veuillez choisir'}} ) }}
                                    </div>
                               </div>
                           </div>
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.tel, 'Téléphone') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.tel) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.tel,  {'attr': {'class':'form-control', 'Placeholder': 'xx xx xx xx'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.codeS, 'Code secret') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.codeS) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.codeS,  {'attr': {'class':'form-control', 'Placeholder': 'Le code secret de l agent'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.email, 'email') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.email) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.email,  {'attr': {'class':'form-control', 'Placeholder': 'l email'}}) }}
                                    </div>
                               </div>
                           </div>
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.residence, 'Résidence') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.residence) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.residence,  {'attr': {'class':'form-control', 'Placeholder': 'La résidence'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.localites, 'Localité') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.localites) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.localites,  {'attr': {'class':'form-control'}}) }}
                                    </div>
                               </div>
                           </div>
						<div class="modal-footer">
							  
							  <input type="submit" class="btn btn-primary" />
							 &nbsp; <a href="{{ path('cicrtg_backend_agent') }}" class="btn btn-default pull-right">Retour</a>
							 <!--<button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>-->
						</div>
					  {{ form_rest(form) }}
				  </form>

					 
			</div>

		
	</div>

	</div>
</div>
	