﻿{% for message in app.session.flashbag.get('notice') %}
				
    <div class="alert alert-success">
        <a class="close fade in" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
{% endfor %}


<div class="row">
   <div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"> Liste des agents sur le terrain 
				<button data-toggle="modal" data-backdrop="false"  href="#prefecture" class="btn btn-info btn-sm pull-right" style="margin-top: -5px;">
					<i class="fa fa-plus"></i> Ajouter </a>
				</button></h2>
			</div>
			<div class="panel-body">
				<table  class="zone hover table table-bordered table-striped table-condensed" cellspacing="0" width="100%" >
					<thead>
						<tr>
							
							
							<th>Nom & Prénoms</th>
							<th>Sexe</th>
							<th>Télephone</th>
							{% if is_granted('ROLE_ADMIN') %}
							<th>code secret</th>
							{% endif %}
							<th>Email</th>
							<th>Résidence</th>
							<th>Localité</th>
							{% if is_granted('ROLE_GESTIONNAIRE') %}
								<th>Action</th>
							{% endif %}
						</tr>
					</thead>
				 
					<tfoot>
						<tr>
							
							
						</tr>
					</tfoot>
				 
					<tbody>
						
						{% for agent in agents %}
						<tr>
							
							<th>{{ agent.nom ~' '~agent.prenom }}</th>
							<th>{{ agent.sexe }}</th>
							<th>{{ agent.tel }}</th>
							{% if is_granted('ROLE_ADMIN') %}
								<th>{{ agent.codeS }}</th>
							{% endif %}
							<th>{{ agent.email }}</th>
							<th>{{ agent.residence }}</th>
							<th>
								{% if agent.localites.count > 0 %}
									{% for localite in agent.localites %}
										{{ localite.libL }}
										{% if not loop.last %} - {% endif %}
									{% endfor %}
								{% endif %}
							</th>
							{% if is_granted('ROLE_GESTIONNAIRE') %}
								<td class="row">
									<span class="col-xs-4">
										<a href="{{ path('cicrtg_backend_agent_modif', {'id': agent.id}) }}" class="btn btn-xs btn-default">
											<li class="fa fa-edit" ></li>Modifier
										</a>
									</span>
									<span class="col-xs-4 col-xs-offset-2">
										{% if(is_granted('ROLE_ADMIN')) %}
											<a href="{{ path('cicrtg_backend_agent_supp', {'id': agent.id}) }}" target-data="#supp" class="btn btn-xs btn-danger">
												<i class="fa fa-frown-o"></i>Supprimer
											</a>
										{% endif %}
									</span>
								</td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
   </div>
</div>
       
     
<div class="modal fade" id="prefecture">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout d'un agent</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_agent') }}">
                        <span class="help-block">
                            {{ form_errors(form) }}
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.nom, 'Nom') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.nom) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.nom,  {'attr': {'class':'form-control', 'Placeholder': 'Le nom de l agent'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.prenom, 'Prenom') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.prenom) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.prenom,  {'attr': {'class':'form-control', 'Placeholder': 'Le prénom'}} ) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">       
                                     <label for="groupName" > {{ form_label(form.sexe, 'Sexe') }} :</label>
                                 </div>
															 
                                   <small class="text-danger"> {{ form_errors(form.sexe) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.sexe,  {'attr': {'class':'form-control', 'Placeholder': 'Veuillez choisir'}} ) }}
                                    </div>
                               </div>
                           </div>
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.tel, 'Téléphone') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.tel) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.tel,  {'attr': {'class':'form-control', 'Placeholder': 'xx xx xx xx'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.codeS, 'Code secret') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.codeS) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.codeS,  {'attr': {'class':'form-control', 'Placeholder': 'Le code secret de l agent'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.email, 'email') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.email) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.email,  {'attr': {'class':'form-control', 'Placeholder': 'l email'}}) }}
                                    </div>
                               </div>
                           </div>
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.residence, 'Résidence') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.residence) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.residence,  {'attr': {'class':'form-control', 'Placeholder': 'La résidence'}}) }}
                                    </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(form.localites, 'Localité') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(form.localites) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(form.localites,  {'attr': {'class':'form-control'}}) }}
                                    </div>
                               </div>
                           </div>

                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        {{ form_rest(form) }}
                    </form>

                       
              </div>

          </div>
      </div>
    </div>
