

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> {{ phenomene.lib }}
        
        </h3>
        
    </div>
    <div class="panel-body">
        <div class="">
           <table id="datatable" class="table table-bordered table-hover table-striped">
            {% if phenomene.id == 1   %}
                <thead>
                    <tr>
                        <th>Localite</th>
                        <th>Date</th>
                        <th>Releve</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donnee in donnees %}  
                           <tr>
                               <td>{{ donnee.agent.localites[0].libL }}</td>
                               <td>{{ donnee.date|localizeddate('medium', 'none', 'fr_FR') }}</td>
                               <td>{{ donnee.notation }}</td>
                               
                           </tr>
                           {% endfor %}
                </tbody>
<div class="modal fade" id="phenomene">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout de {{ phenomene.lib }}</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_pheno_post') }}">
                        <span class="help-block">
                            
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >  :</label>
                                 </div>
										
                                   <small class="text-danger">  </small>
                                   <div class="col-md-7 ">
											
                                    </div>
                               </div>
                           </div>
							
							

                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        
                    </form>

                       
              </div>

          </div>
      </div>
    </div>
            {% endif %}
              
              {% if phenomene.id == 2   %}
                <thead>
                    <tr>
                        <th>Localite</th>
                        <th>Date</th>
                        <th>hauteur de pluie</th>
                    </tr>
                </thead>
                <tbody>
                  
                  {% for donnee in donnees %}  
                           <tr>
                               <td>{{ donnee.agent.localites[0].libL }}</td>
                               <td>{{ donnee.date|localizeddate('medium', 'none', 'fr_FR') }}</td>
                               <td>{{ donnee.notation }}</td>
                               
                           </tr>
                           {% endfor %}
                </tbody>

<!--========================    forlulaire pour l'ajout de de climatographie =================================           -->

<div class="modal fade" id="phenomene">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout de {{ phenomene.lib }}</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_pheno_post') }}">
                        <span class="help-block">
                            
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >  :</label>
                                 </div>
										
                                   <small class="text-danger">  </small>
                                   <div class="col-md-7 ">
											
                                    </div>
                               </div>
                           </div>
							
							

                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        
                    </form>

                       
              </div>

          </div>
      </div>
    </div>
<!--================================================================================================================-->
              {% endif %}

              {% if phenomene.id == 3   %}
                <thead>
                    <tr>
                        <th>Localite</th>
                        <th>Date</th>
                        <th>donnees</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                           
                         {% for donnee in donnees %}
                         
                           <tr>
                               <td>{{ donnee.agent.localites[0].libL }}</td>
                               <td>{{ donnee.date|localizeddate('medium', 'none', 'fr_FR') ~'  '~ donnee.date|date('m') }}
                                                      
                               </td>
                               <td>{{ donnee.notation }}</td>
                               <td>{{ donnee.type.libT }}
                               </td>
                               
                           </tr>
                                
                           {% endfor %}
                </tbody>
<!--========================    forlulaire pour l'ajout de de climatographie =================================           -->

<div class="modal fade" id="phenomene">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout de {{ phenomene.lib }}</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_pheno_post') }}">
                        <span class="help-block">
                            
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >  :</label>
                                 </div>
										
                                   <small class="text-danger">  </small>
                                   <div class="col-md-7 ">
											
                                    </div>
                               </div>
                           </div>
							
							

                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        
                    </form>

                       
              </div>

          </div>
      </div>
    </div>

<!--================================================================================================================-->
             {% endif %}

            </table>                 
            
        </div>
        <div class="text-right">
            <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
</div>                           

</div>

<div class="col-lg-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Graphique</h3>
    </div>
    <div class="panel-body">
        <!--<div id="morris-area-chart"></div>-->
        <div id="morris-bar-chart"></div>
    </div>
    
</div>
</div>


<!-- /.row -->

<!--<div class="row">
<div class="col-lg-4">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
    </div>
    <div class="panel-body">
        <div id="morris-donut-chart"></div>
        <div class="text-right">
            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
</div>
<div class="col-lg-4">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <span class="badge">just now</span>
                <i class="fa fa-fw fa-calendar"></i> Calendar updated
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">4 minutes ago</span>
                <i class="fa fa-fw fa-comment"></i> Commented on a post
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">23 minutes ago</span>
                <i class="fa fa-fw fa-truck"></i> Order 392 shipped
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">46 minutes ago</span>
                <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">1 hour ago</span>
                <i class="fa fa-fw fa-user"></i> A new user has been added
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">2 hours ago</span>
                <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">yesterday</span>
                <i class="fa fa-fw fa-globe"></i> Saved the world
            </a>
            <a href="#" class="list-group-item">
                <span class="badge">two days ago</span>
                <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
            </a>
        </div>
        <div class="text-right">
            <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
</div>
<div class="col-lg-4">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Order Date</th>
                        <th>Order Time</th>
                        <th>Amount (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3326</td>
                        <td>10/21/2013</td>
                        <td>3:29 PM</td>
                        <td>$321.33</td>
                    </tr>
                    <tr>
                        <td>3325</td>
                        <td>10/21/2013</td>
                        <td>3:20 PM</td>
                        <td>$234.34</td>
                    </tr>
                    <tr>
                        <td>3324</td>
                        <td>10/21/2013</td>
                        <td>3:03 PM</td>
                        <td>$724.17</td>
                    </tr>
                    <tr>
                        <td>3323</td>
                        <td>10/21/2013</td>
                        <td>3:00 PM</td>
                        <td>$23.71</td>
                    </tr>
                    <tr>
                        <td>3322</td>
                        <td>10/21/2013</td>
                        <td>2:49 PM</td>
                        <td>$8345.23</td>
                    </tr>
                    <tr>
                        <td>3321</td>
                        <td>10/21/2013</td>
                        <td>2:23 PM</td>
                        <td>$245.12</td>
                    </tr>
                    <tr>
                        <td>3320</td>
                        <td>10/21/2013</td>
                        <td>2:15 PM</td>
                        <td>$5663.54</td>
                    </tr>
                    <tr>
                        <td>3319</td>
                        <td>10/21/2013</td>
                        <td>2:13 PM</td>
                        <td>$943.45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
</div>
</div>-->
                        <!-- /.row -->