﻿{% for message in app.session.flashbag.get('notice') %}
				
    <div class="alert alert-success">
        <a class="close fade in" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
{% endfor %}

<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<div class="panel panel-info">
		
			<div class="panel-heading" style="color: #000000;">
				<h4 class="panel-title">Modification de Préfecture</h4>
			</div>
			<div class="panel-body" style="color: #000000;">

				  <form  method="post" action="{{ path('cicrtg_backend_localite_modif', {'id': localite.id }) }}">
					  <span class="help-block">
						  {{ form_errors(formLmodif) }}
					  </span>
						<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formLmodif.libL, 'Le libelle') }} </label>
                                 </div>

                                   
								   <small class="text-danger"> {{ form_errors(formLmodif.libL) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formLmodif.libL, {'attr': {'class':'form-control', 'Placeholder': 'le libellé de la localité'}}) }}
                                   </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formLmodif.observation, 'Observation') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formLmodif.observation) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formLmodif.observation, {'attr': {'class':'form-control', 'Placeholder': 'Votre observation'}}) }}
                                   </div>
                               </div>
                           </div>
							
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formLmodif.prefecture, 'La préfecture') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formLmodif.prefecture) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formLmodif.prefecture, {'attr': {'class':'form-control'}}) }}
                                   </div>
                               </div>
                           </div><br/>
							
							<fieldset>
								<legend>Position</legend>
								<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formLmodif.position.longitude, 'Le longitude') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formLmodif.position.longitude) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formLmodif.position.longitude, {'attr': {'class':'form-control', 'Placeholder': 'Le longitude'}}) }}
                                   </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formLmodif.position.latitude, 'La latitude') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formLmodif.position.latitude) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formLmodif.position.latitude, {'attr': {'class':'form-control', 'Placeholder': 'La latitude'}}) }}
                                   </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formLmodif.position.altitude, 'L altitude ') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formLmodif.position.altitude) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formLmodif.position.altitude, {'attr': {'class':'form-control', 'Placeholder': 'l altitude'}}) }}
                                   </div>
                               </div>
                           </div>
							</fieldset>
						

						<div class="modal-footer">
							  
							  <input type="submit" class="btn btn-primary" />
							 &nbsp; <a href="{{ path('cicrtg_backend_zone') }}" class="btn btn-default pull-right">Retour</a>
							 <!--<button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>-->
						</div>
					  {{ form_rest(formLmodif) }}
				  </form>

					 
			</div>

		
	</div>

	</div>
</div>
	