﻿<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('frontend_homepage') }}">CICRTG
                             {% if is_granted('ROLE_EXPLOITANT')  %}
                                 Admin
                            {% endif %}
                        </a>
                    </div>
                    <!-- Top Menu Items -->
                    <ul class="nav navbar-right top-nav">
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                                Bienvenu
                                {% if is_granted('ROLE_EXPLOITANT')  %}
                                    {{ app.user.username }}
                                {% else %}
                                    A vous.
                                {% endif %}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_EXPLOITANT')  %}
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                    </li>
                                    <!--<li>
                                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                                    </li>-->
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('logout') }}"><i class="fa fa-fw fa-power-off"></i> Deconnèxion</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('login') }}"><i class="fa fa-fw fa-power-off"></i> Connèxion</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            {% if is_granted('ROLE_EXPLOITANT')  %}
                                <li class="active">
                                    <a href="{{ path('cicrtg_backend_home') }}"><i class="fa fa-fw fa-dashboard"></i> Acceuil</a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-toggle="collapse" data-target="#donnees"><i class="fa fa-bars"></i> Données <i class="fa fa-fw fa-caret-down"></i></a>
                                    <ul id="donnees" class="collapse">
                                        {% for pheno in phenomenes %}
                                            <li>
                                                <a href="{{ path('cicrtg_backend_donnee', {'id':pheno.id}) }}">{{ pheno.lib }}</a>
                                            </li>
                                         {% endfor %}  
                            
                                    </ul>
                                </li>
                            
                            <!--<li>
                                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                            </li>-->
                            <!--<li>-->
                            <!--    <a href="bootstrap-grid.html"><i class="fa fa-fw fa-arrows-v"></i> Bootstrap Grid</a>-->
                            <!--</li>-->
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#params"><i class="fa fa-fw fa-wrench"></i> Paramètres <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="params" class="collapse">
                                    <li>
                                        <a href="{{ path('cicrtg_backend_user') }}">Utilisateurs</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cicrtg_backend_agent') }}">Agents</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cicrtg_backend_zone') }}">Zones</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cicrtg_backend_type') }}">Type de donnees</a>
                                    </li>
                        
                                </ul>
                            </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('login') }}"><i class="fa fa-fw fa-arrows-v"></i> Connexion </a>-->
                                </li>
                                
                                <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#donnees"><i class="fa fa-bars"></i> Données <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="donnees" class="collapse">
                                    {% for pheno in phenomenes %}
                                        <li>
                                            <a href="{{ path('cicrtg_backend_donnee', {'id':pheno.id}) }}">{{ pheno.lib }}</a>
                                        </li>
                                     {% endfor %}  
                        
                                </ul>
                            </li>
                            {% endif %}
                            <!--<li>-->
                            <!--    <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--    <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>