﻿{% for message in app.session.flashbag.get('notice') %}
				
    <div class="alert alert-success">
        <a class="close fade in" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
{% endfor %}

<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<div class="panel panel-info">
		
			<div class="panel-heading" style="color: #000000;">
				<h4 class="panel-title">Modification de Préfecture</h4>
			</div>
			<div class="panel-body" style="color: #000000;">

				  <form  method="post" action="{{ path('cicrtg_backend_prefecture_modif', {'id': prefecture.id }) }}">
					  <span class="help-block">
						  {{ form_errors(formPmodif) }}
					  </span>
						  
						 <div class="form-group">
						   <div class="row">
							   <div class="col-md-3">
								   <label for="groupName" >{{ form_label(formPmodif.libP, "Le libellé") }} :</label>
							   </div>

								 <small class="text-danger"> {{ form_errors(formPmodif.libP) }} </small>
								 <div class="col-md-7 ">
									  {{ form_widget(formPmodif.libP, { 'attr': {'class':'form-control', 'placeholder':'La région'} }) }}
								  </div>
							 </div>
						 </div>

						<div class="form-group">
							<div class="row">
								<div class="col-sm-3">
									<label for="id" >{{ form_label(formPmodif.region, "la région") }} : </label>
								</div>
								  <small class="text-danger"> {{ form_errors(formPmodif.region) }} </small>
								  <div class="col-sm-7 form-group">
									  {{ form_widget(formPmodif.region, { 'attr': {'class':'form-control'} }) }}
								  </div>
							  </div>
						  </div>


						<div class="modal-footer">
							  
							  <input type="submit" class="btn btn-primary" />
							 &nbsp; <a href="{{ path('cicrtg_backend_zone') }}" class="btn btn-default pull-right">Retour</a>
							 <!--<button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>-->
						</div>
					  {{ form_rest(formPmodif) }}
				  </form>

					 
			</div>

		
	</div>

	</div>
</div>
	