﻿{% for message in app.session.flashbag.get('notice') %}
				
    <div class="alert alert-success">
        <a class="close fade in" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
{% endfor %}


<div class="row">
   <div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"> Liste des postes phénomenes
				<button data-toggle="modal" data-backdrop="false"  href="#phenomene" class="btn btn-info btn-sm pull-right" style="margin-top: -5px;">
					<i class="fa fa-plus"></i> Ajouter </a>
				</button></h2>
			</div>
			<div class="panel-body">
				<table  class="zone hover table table-bordered table-striped table-condensed" cellspacing="0" width="100%" >
					<thead>
						<tr>
							
							
							<th>Libelle</th>
							
							{% if is_granted('ROLE_GESTIONNAIRE') %}
								<th>Action</th>
							{% endif %}
						</tr>
					</thead>
				 
					<tfoot>
						<tr>
							
							
						</tr>
					</tfoot>
				 
					<tbody>
						
						{% for postPhenome in postPhenomes %}
						<tr>
							
							<th>{{ postPhenome.lib }}</th>
							
							{% if is_granted('ROLE_GESTIONNAIRE') %}
								<td class="row">
									
									<span class="col-xs-3 col-xs-offset-1">
										{% if(is_granted('ROLE_ADMIN')) %}
											<a href="{{ path('cicrtg_backend_pheno_delete', {'id': postPhenome.id}) }}" target-data="#supp" class="btn btn-xs btn-danger">
												<i class="fa fa-frown-o"></i>Supprimer
											</a>
										{% endif %}
									</span>
								</td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
   </div>


	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"> Liste types de données 
				<button data-toggle="modal" data-backdrop="false"  href="#type" class="btn btn-info btn-sm pull-right" style="margin-top: -5px;">
					<i class="fa fa-plus"></i> Ajouter </a>
				</button></h2>
			</div>
			<div class="panel-body">
				<table  class="zone hover table table-bordered table-striped table-condensed" cellspacing="0" width="100%" >
					<thead>
						<tr>
							<th>Libelle</th>
							<th>Phénomenes</th>
							
							{% if is_granted('ROLE_GESTIONNAIRE') %}
								<th>Action</th>
							{% endif %}
						</tr>
					</thead>
				 
					<tfoot>
						<tr>
							
							
						</tr>
					</tfoot>
				 
					<tbody>
						
						{% for type in types %}
						<tr>
							<th>{{ type.libT }}</th>
							<th>{{ type.postphenomene.lib }}</th>
							
							{% if is_granted('ROLE_GESTIONNAIRE') %}
								<td class="row">
									
									<span class="col-xs-3 col-xs-offset-1">
										{% if(is_granted('ROLE_ADMIN')) %}
											<a href="{{ path('cicrtg_backend_type_delete', {'id': type.id}) }}" target-data="#supp" class="btn btn-xs btn-danger">
												<i class="fa fa-frown-o"></i>Supprimer
											</a>
										{% endif %}
									</span>
								</td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
   </div>
</div>
       
     
<div class="modal fade" id="phenomene">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout d'un Poste phénome</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_pheno_post') }}">
                        <span class="help-block">
                            {{ form_errors(formPheno) }}
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(formPheno.lib, 'Nom') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(formPheno.lib) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(formPheno.lib,  {'attr': {'class':'form-control', 'Placeholder': 'Le nom de l agent'}}) }}
                                    </div>
                               </div>
                           </div>
							
							

                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        {{ form_rest(formPheno) }}
                    </form>

                       
              </div>

          </div>
      </div>
    </div>



<div class="modal fade" id="type">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout d'un type de donnée</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_type_post') }}">
                        <span class="help-block">
                            {{ form_errors(formType) }}
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(formType.libT, 'Nom') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(formType.libT) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(formType.libT,  {'attr': {'class':'form-control', 'Placeholder': 'Le type de donnée'}}) }}
                                    </div>
                               </div>
                           </div>
						   
						   <div class="form-group" >
								<div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" > {{ form_label(formType.postphenomene, 'phénomène') }} :</label>
                                 </div>
										
                                   <small class="text-danger"> {{ form_errors(formType.postphenomene) }} </small>
                                   <div class="col-md-7 ">
											{{ form_widget(formType.postphenomene,  {'attr': {'class':'form-control', 'Placeholder': 'Le nom de l agent'}}) }}
                                    </div>
                               </div>
						   </div>
							
							

                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        {{ form_rest(formType) }}
                    </form>

                       
              </div>

          </div>
      </div>
    </div>