﻿{% for message in app.session.flashbag.get('notice') %}
				
    <div class="alert alert-success">
        <a class="close fade in" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
{% endfor %}


<div class="tabbable tabs-right">
    <ul class="nav nav-tabs">
        <li class ="active"><a  href="#tab1" data-toggle="tab">Préfectures</a></li>
        <li><a href="#tab2" data-toggle="tab">Localités</a></li>
        
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab1">
            <br/>
            <div class="row">
               <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title"> Liste des préfectures
							{% if(is_granted('ROLE_GESTIONNAIRE')) %}
                            <button data-toggle="modal" data-backdrop="false"  href="#prefecture" class="btn btn-info btn-sm pull-right" style="margin-top: -5px;">
                                <i class="fa fa-plus"></i> Ajouter </a>
                            </button></h2>
							{% endif %}
                        </div>
                        <div class="panel-body">
                            <table  class="zone hover table table-bordered table-striped table-condensed" cellspacing="0" width="100%" >
                                <thead>
                                    <tr>
                                        
                                        <th>Numéro</th>
                                        <th>Libellé</th>
                                        <th>Région</th>
										{% if(is_granted('ROLE_GESTIONNAIRE')) %}
											<th>Action</th>
										{% endif %}
                                    </tr>
                                </thead>
                             
                                <tfoot>
                                    <tr>
                                        
                                        
                                    </tr>
                                </tfoot>
                             
                                <tbody>
									{% for prefecture in prefectureListe  %}
                                    <tr>
                                        <td>{{ prefecture.id }}</td>
                                        <td>{{ prefecture.libP }}</td>
                                        <td>{{ prefecture.region.libR }}</td>
										
										{% if(is_granted('ROLE_GESTIONNAIRE')) %}
											<td class="row">
												<span class="col-xs-offset-3">
													<a href="{{ path('cicrtg_backend_prefecture_modif', {'id': prefecture.id}) }}" class="btn btn-sm btn-default">
														Modifier
													</a>
													{% if(is_granted('ROLE_ADMIN')) %}
														<a href="{{ path('cicrtg_backend_prefecture_supp', {'id': prefecture.id}) }}" target-data="#supp" class="btn btn-sm btn-danger">
															<i class="fa fa-frown-o"></i>Supprimer
														</a>
													{% endif %}
												</span>
											
											</td>
										{% endif %}
                                    </tr>
								{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            </div>
        </div>
     
        <div class="tab-pane fade" id="tab2">
            <br/>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title"> Liste des localités
							{% if(is_granted('ROLE_GESTIONNAIRE')) %}
                                <button data-toggle="modal" href="#localite" class="btn btn-info btn-sm pull-right" style="margin-top: -5px;">
                                <i class="fa fa-plus"></i> Ajouter </a>
								</button>
							{% endif %}
                            </h2>
                        </div>
                        <div class="panel-body">
                            <table  class="zone hover table table-bordered table-striped table-condensed" cellspacing="0" width="100%" >
                                <thead>
                                    <tr>
                                        
                                        <th></th>
                                        <th>Libellé</th>
                                        <th>Observation</th>
                                        <th>Prefecture</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Altitude</th>
										{% if(is_granted('ROLE_GESTIONNAIRE')) %}
											<th>Action</th>
										{% endif %}
                                    </tr>
                                </thead>
                             
                                <tfoot>
                                    <tr>
                                        
                                        
                                    </tr>
                                </tfoot>
                             
                                <tbody>
									{% for localite in  localiteListe %}
                                    <tr>
                                        <td></td>
                                        <td> {{ localite.libL }}</td>
                                        <td>{{ localite.observation }}</td>
                                        <td>{{ localite.prefecture.libP}}</td>
                                        <td>{{ localite.position.longitude}}</td>
                                        <td>{{ localite.position.latitude}}</td>
                                        <td>{{ localite.position.altitude}}</td>
										{% if(is_granted('ROLE_GESTIONNAIRE')) %}
                                        <td class="row">
											<span class="col-xs-offset-3">
												<a href="{{ path('cicrtg_backend_localite_modif', {'id': localite.id}) }}" class="btn btn-xs btn-default">
													<li class="fa fa-edit" ></li>Modifier
												</a>
												{% if(is_granted('ROLE_ADMIN')) %}
													<a href="{{ path('cicrtg_backend_localite_supp', {'id': localite.id}) }}" target-data="#supp" class="btn btn-xs btn-danger">
														<i class="fa fa-frown-o"></i>Supprimer
													</a>
												{% endif %}
											</span>
                                        </td>
										{% endif %}
                                    </tr>
									{% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>   

<div class="modal fade" id="prefecture">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout de Préfecture</h4>
              </div>
              <div class="modal-body" style="color: #000000;">

                    <form  method="post" action="{{ path('cicrtg_backend_zone') }}">
                        <span class="help-block">
                            {{ form_errors(formP) }}
                        </span>
                            
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formP.libP, "Le libellé") }} :</label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formP.libP) }} </small>
                                   <div class="col-md-7 ">
                                        {{ form_widget(formP.libP, { 'attr': {'class':'form-control', 'placeholder':'La préfecture'} }) }}
                                    </div>
                               </div>
                           </div>

                          <div class="form-group">
                              <div class="row">
                                  <div class="col-sm-3">
                                      <label for="id" >{{ form_label(formP.region, "la région") }} : </label>
                                  </div>
                                    <small class="text-danger"> {{ form_errors(formP.region) }} </small>
                                    <div class="col-sm-7 form-group">
                                        {{ form_widget(formP.region, { 'attr': {'class':'form-control'} }) }}
                                    </div>
                                </div>
                            </div>


                          <div class="modal-footer">
                                
                                <input type="submit" class="btn btn-primary" />
                               &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>
                        {{ form_rest(formP) }}
                    </form>

                       
              </div>

          </div>
      </div>
    </div>

<div class="modal fade" id="localite">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="color: #000000;">
                  <button type="button" class="close" data-dismiss="modal">x</button>
                  <h4 class="modal-title">Ajout de localité</h4>
              </div>
              <div class="modal-body" style="color: #000000;">
                    <form  method="post" action="{{ path('cicrtg_backend_zone') }}">
                       <lavel class="">{{ form_errors(formL) }}</lavel>
		
                           <div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formL.libL, 'Le libelle') }} </label>
                                 </div>

                                   
								   <small class="text-danger"> {{ form_errors(formL.libL) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formL.libL, {'attr': {'class':'form-control', 'Placeholder': 'le libellé de la localité'}}) }}
                                   </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formL.observation, 'Observation') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formL.observation) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formL.observation, {'attr': {'class':'form-control', 'Placeholder': 'Votre observation'}}) }}
                                   </div>
                               </div>
                           </div>
							
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formL.prefecture, 'La préfecture') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formL.prefecture) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formL.prefecture, {'attr': {'class':'form-control'}}) }}
                                   </div>
                               </div>
                           </div><br/>
							
							<fieldset>
								<legend>Position</legend>
								<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formL.position.longitude, 'Le longitude') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formL.position.longitude) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formL.position.longitude, {'attr': {'class':'form-control', 'Placeholder': 'Le longitude'}}) }}
                                   </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formL.position.latitude, 'La latitude') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formL.position.latitude) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formL.position.latitude, {'attr': {'class':'form-control', 'Placeholder': 'La latitude'}}) }}
                                   </div>
                               </div>
                           </div>
							
							<div class="form-group">
                             <div class="row">
                                 <div class="col-md-3">
                                     <label for="groupName" >{{ form_label(formL.position.altitude, 'L altitude ') }} </label>
                                 </div>

                                   <small class="text-danger"> {{ form_errors(formL.position.altitude) }} </small>
                                   <div class="col-md-7">

                                        {{ form_widget(formL.position.altitude, {'attr': {'class':'form-control', 'Placeholder': 'l altitude'}}) }}
                                   </div>
                               </div>
                           </div>
							</fieldset>
							
                          <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" />
                            &nbsp; <button class="btn btn-default pull-right" data-dismiss="modal">Fermer !</button>
                          </div>

                    
					{{ form_rest(formL) }}
                    </form>
                       
              </div>

          </div>
      </div>
    </div>

<div class="row">

</div>